* {
    border: none;
    border-radius: 0;
    font-family: "Hack";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #11191f;
    color: #d8defa;
}

#window {
    font-weight: bold;
    font-family: "Hack";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: rgb(81, 84, 99);
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #5479c9;
    border-top: 2px solid #54c9c9;
}

#mode {
    background: rgb(148, 175, 196);
    border-bottom: 3px solid white;
}


#clock {
    font-weight: bold;
}

#battery {
}

/* #battery icon {
    color: red;
} */

#battery.charging {
    color: #d4fcb9;
    animation-name: blink;
    animation-duration: 0.5s;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #fcb9b9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}
#backlight {
    padding: 0 10px
}

#network {
    padding: 0 10px;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    padding: 0 10px;
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

#backlight, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode{
    padding: 0 10px;
    margin: 0 0px;
}
