[submodule "dotbot"]
	path = dotbot
	url = git://github.com/anishathalye/dotbot
[submodule "home/fzf"]
	path = home/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/awesome/awesome-freedesktop"]
	path = home/awesome/awesome-freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "home/awesome/lain"]
	path = home/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "home/omf"]
	path = home/omf
	url = https://github.com/oh-my-fish/oh-my-fish
