[Desktop Entry]
Icon=redshift
Categories=Utility;
Version=1.0
Exec=redshift-gtk
X-GNOME-Autostart-enabled=false
GenericName=Color temperature adjustment
Hidden=true
Terminal=false
Name=Redshift
StartupNotify=true
Comment=Color temperature adjustment tool
Type=Application

